In [2]:
import pandas as pd

pd = pd.read_csv("test2.csv")

In [3]:
aggregation = (
    pd.groupby("Make")
    .agg({"Make": "count", "Price": "sum"})
    .rename(columns={"Make": "Units"})
    .sort_values(by=["Units", "Price"], ascending=False)
)
aggregation.to_csv("output.csv")

this is without Make column parsing

In [8]:
import re

pd["Make"] = pd["Make"].str.replace(r"\d+", "", regex=True)

# Recalculate the aggregation
aggregation = (
    pd.groupby("Make")
    .agg({"Make": "count", "Price": "sum"})
    .rename(columns={"Make": "Units"})
    .sort_values(by=["Units", "Price"], ascending=False)
)

aggregation

# Save the new aggregation to a CSV file
# aggregation.to_csv("output_without_numbers.csv")

                         Units       Price
Make
East Texas Trailers        505  5579392.30
Big Tex                    344  3248569.16
Liberty Industries Inc.    138   706385.55
Quality Cargo Trailers     127  1132383.10
TrailMax                   123  2111701.28
...                        ...         ...
REPO East Texas              1     2995.00
DIAMOND CARGO                1        0.00
STEALTH TITAN                1        0.00
Stealth Titan                1        0.00
Steel Pines x                1        0.00

[90 rows x 2 columns]